<h3>Comments:</h3>

<div class="comments-container">
  <div *ngFor="let comment of comments">
    <div class="comment"> {{ comment.comment }} </div>
  </div>
</div>
<form [formGroup]="commentsForm" (ngSubmit)="onSubmit()">
    <select [(ngModel)]="selectedUser" (change)="selectUser()" class="users_dropdown" *ngIf="isTagShown && users.length > 0" size="{{ users.length + 1 }}" formControlName="users" id="users">
        <option *ngFor="let user of users; let i = index" [value]="users[i].name" class="user_option">
          {{users[i].name}}
        </option>
      </select>
    <textarea [(ngModel)]="commentToPost" class="comment-box"  (keyup)="autosuggestUsers($event)" placeholder="Post Comment" formControlName="comment" cols="92" rows="1"></textarea>
    <button class="button" type="submit">Post comment </button>
</form>